* {
    /*border: 1px solid blue !important;*/
    /*font-size: 16px;*/
}


/*-------BODY-------*/


/*Top Bar*/

.top-bar {
    .top-bar-left {
        h4 {
            color: $white;
        }
    }
    .top-bar-center {
        display: table;
        margin: 0 auto;
        .menu {
            li {
                a {
                    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    /*font-family: "proxima-nova";*/
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 2px;
                    font-style: normal;
                    line-height: 1em;
                    color: rgba(255, 255, 255, .8);
                    transition: color 200ms ease-in-out;
                }
                a:hover {
                    color: $primary;
                    transition: color 200ms ease-in-out;
                }
            }
        }
    }
}

#contact{
    border: 2px solid $white;
    background: $black;
    color: $white;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

#contact:hover{
    background: $white;
    color: $black;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

#about-me {
	padding: 17px;
    border: 2px solid $white;
    color: $white;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}


#about-me:hover {
	padding: 17px;
    background: $white;
    color: $black;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}





.btn-styles {

    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    /*font-family: "proxima-nova";*/
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-style: normal;
    line-height: 1em;
    color: rgba(255, 255, 255, .8);
}

.extra-padding {
    padding: 10px;
}

#body-style {
    background: linear-gradient( rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)) //, url(../images/topimage.jpg);
    /*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
 	background-repeat:no-repeat;
	background-position: center center;*/
}

#landing-section {
    background: linear-gradient( rgba(25, 25, 25, .6), rgba(25, 25, 25, .6)), url(../images/projects-image.jpg);
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $black;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#landing-text-area {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 85vh;
    /* These two lines are counted as one :-)       */
    padding-bottom: 50px;
}

#landing-text-top {
    display: block;
    font-family: "Cormorant", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0px;
    text-transform: none;
    font-family: "Cormorant";
    font-size: 90px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    font-style: bold;
    color: #FFF;
}

.center-text {
    text-align: center;
}

#landing-text-bottom {
    font-family: "Cormorant", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    font-family: "Cormorant";
    font-size: 24px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    margin: 20px auto;
    -webkit-transform: translatez(0);
}

.landing-btn-area{
	display: inline-block;
    margin: 0;
    padding: 0;
}

.landing-padding{
	padding-top: 10px;
}
.sticky{
	width:100%;
}

.h1-title{
	font-family: "Cormorant","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 46px;
	font-family: "Cormorant";
	font-size: 35px;
	line-height: 1.2em;
	text-transform: none;
	letter-spacing: 0px;
	font-weight: 700;
	font-style: bold;
	color:rgba(26,26,26,.9);
}


.h2-title{
	font-family: "Cormorant","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 46px;
	font-family: "Cormorant";
	font-size: 21px;
	line-height: 1.6em;
	text-transform: none;
	letter-spacing: 0px;
	font-weight: 800;
	font-style: normal;
	color:rgba(26,26,26,.9);
}

.h1-title-padding{
	padding-bottom: 15px;
}

.summary-des{
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.6em;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 1.8em;
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
	color: rgba(26,26,26,.6);
}

.skills-item{
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.6em;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 1.8em;
	letter-spacing: 0px;
	font-weight: 400;
	font-style: italic;
	color: rgba(26,26,26,.6);
}

#skills-section,#project-section{
	/*border-bottom: 1px solid $black;*/
	/*border-left: 1px solid $black;
	border-right: 1px solid $black;*/
	-webkit-box-shadow: 0 2px 6px 0 rgba(26, 26, 26, .2), 0 6px 20px 0 rgba(26, 26, 26, 0.19);
    -moz-box-shadow: 0 2px 6px 0 rgba(26, 26, 26, .2), 0 6px 20px 0 rgba(26, 26, 26, 0.19);
    -o-box-shadow: 0 2px 6px 0 rgba(26, 26, 26, .2), 0 6px 20px 0 rgba(26, 26, 26, 0.19);
    box-shadow: 0 2px 6px 0 rgba(26, 26, 26, .2), 0 6px 20px 0 rgba(26, 26, 26, 0.19);
}

.summary-area-padding{
	padding-top: 65px;
	padding-bottom: 65px;
}

.background-color-gray{
	background: $light-gray;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}


#skills-section{
	//border-top: 1px solid $black;
}
.background-color-lightgray{
	background: $white;
}

footer .top-bar {
	background-color: #26262a;
    .top-bar-left {
        h4 {
            color: $white;
        }
    }
    .top-bar-center {
        display: table;
        margin: 0 auto;
        .menu {
            li {
                a {
                    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    /*font-family: "proxima-nova";*/
                    text-transform:none;
                    text-decoration: none;
                    letter-spacing: 2px;
                    font-style: normal;
                    line-height: 1em;
                    color: rgba(255, 255, 255, .8);
                    transition: color 200ms ease-in-out;
                }
                a:hover {
                    color: $primary;
                    transition: color 200ms ease-in-out;
                }
            }
        }
    }
}

footer .top-bar ul
{
	background-color: #26262a;
}



