* {
    /*border: 1px solid blue !important;*/
    /*font-size: 16px;*/
}


/*-------BODY-------*/


/*Top Bar*/

.top-bar {
    .top-bar-left {
        h4 {
            color: $white;
        }
    }
    .top-bar-center {
        display: table;
        margin: 0 auto;
    }
    .top-bar-left,
    .top-bar-right {
        .menu {
            li {
                a {
                    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    /*font-family: "proxima-nova";*/
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 2px;
                    font-style: normal;
                    line-height: 1em;
                }
                a.link {
                    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    /*font-family: "proxima-nova";*/
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 2px;
                    font-style: normal;
                    line-height: 1em;
                    color: rgba(255, 255, 255, .8);
                    transition: color 200ms ease-in-out;
                }
                a.logo-name {
                    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 600;
                    font-size: 12px;
                    /*font-family: "proxima-nova";*/
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 2px;
                    font-style: normal;
                    line-height: 1em;
                    color: $dark-gray;
                    transition: color 200ms ease-in-out;
                }
                a.welcome-name {
                    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    /*font-family: "proxima-nova";*/
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 2px;
                    font-style: normal;
                    line-height: 1em;
                    color: $dark-gray;
                    transition: color 200ms ease-in-out;
                }
                a:hover {
                    color: $primary;
                    transition: color 200ms ease-in-out;
                }
            }
        }
    }
}

#contact {
    border: 2px solid $white;
    background: $black;
    color: $white;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

#contact:hover {
    background: $white;
    color: $black;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

#about-me {
    padding: 15px;
    border: 2px solid $white;
    background: none;
    color: $white;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

#about-me:hover {
    padding: 15px;
    background: $white;
    color: $black;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

#project-btn1,
#project-btn2,
#project-btn3,
#project-btn4,
#project-btn5 {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid $white;
    background: none;
    color: $white;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

#project-btn1:hover,
#project-btn2:hover,
#project-btn3:hover,
#project-btn4:hover,
#project-btn5:hover {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: $white;
    color: $black;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

.project-btn-styles {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    /*font-family: "proxima-nova";*/
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-style: normal;
    line-height: 1em;
    color: rgba(255, 255, 255, .8);
}

.btn-styles {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    /*font-family: "proxima-nova";*/
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-style: normal;
    line-height: 1em;
    color: rgba(255, 255, 255, .8);
}

.extra-padding {
    padding: 10px;
}

.extra-padding-top{
    padding-top:65px;
}

#body-style {
    background: linear-gradient( rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)) //, url(../images/topimage.jpg);
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;*/
}

#landing-section {
    background: linear-gradient( rgba(25, 25, 25, .6), rgba(25, 25, 25, .6)), url(../images/project-image.jpg);
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $black;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#landing-text-area {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 85vh;
    /* These two lines are counted as one :-)       */
    padding-bottom: 50px;
}

#landing-text-top {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0px;
    text-transform: none;
    font-family: "Cormorant";
    //font-size:90px;
    font-size: 82px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    //font-weight: 700;
    font-weight: 400;
    color: #FFF;
}

#resume-heading-text {
    display: block;
    font-family: "Cormorant", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0px;
    text-transform: none;
    font-family: "Cormorant";
    font-size: 35px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    font-style: bold;
    color: $black;
}

.center-text {
    text-align: center;
}

#about-me-img,#projects-img, #skills-img,#education-img{
    height:125px;
    width:125px;
    transition: height 300ms ease-in-out, width 300ms ease-in-out;
}

#about-me-img:hover, #projects-img:hover, #skills-img:hover,#education-img:hover{
    height:135px;
    width:135px;
    transition: height 300ms ease-in-out, width 300ms ease-in-out;
}

#landing-text-bottom {
    font-family: "Cormorant", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    font-family: "Cormorant";
    font-size: 24px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    margin: 20px auto;
    -webkit-transform: translatez(0);
}

.landing-btn-area {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.landing-padding {
    padding-top: 10px;
}

.sticky {
    width: 100%;
}

.h1-title {
    font-family: "Cormorant", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 46px;
    font-family: "Cormorant";
    font-size: 35px;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 700;
    font-style: bold;
    color: rgba(26, 26, 26, .9);
}

.h2-title {
    font-family: "Cormorant", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 46px;
    font-family: "Cormorant";
    font-size: 21px;
    line-height: 1.6em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 800;
    font-style: normal;
    color: rgba(26, 26, 26, .9);
}

.h2-title-projects {
    font-family: "Cormorant", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;
    font-family: "Cormorant";
    font-size: 21px;
    line-height: 1.6em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 800;
    font-style: bold;
    color: $white;
}

.h1-title-padding {
    padding-bottom: 95px;
}

.h2-title-padding {
    padding-bottom: 60px;
}

.summary-des {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6em;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    color: rgba(26, 26, 26, .6);
}

.skills-item {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6em;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: italic;
    color: rgba(26, 26, 26, .6);
}


/*#skills-section,#project-section{
    border-bottom: 1px solid $black;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    -webkit-box-shadow: 0 2px 6px 0 rgba(26, 26, 26, .2), 0 6px 20px 0 rgba(26, 26, 26, 0.19);
    -moz-box-shadow: 0 2px 6px 0 rgba(26, 26, 26, .2), 0 6px 20px 0 rgba(26, 26, 26, 0.19);
    -o-box-shadow: 0 2px 6px 0 rgba(26, 26, 26, .2), 0 6px 20px 0 rgba(26, 26, 26, 0.19);
    box-shadow: 0 2px 6px 0 rgba(26, 26, 26, .2), 0 6px 20px 0 rgba(26, 26, 26, 0.19);
}*/

.summary-area-padding {
    padding-top: 65px;
    padding-bottom: 65px;
}

.background-color-white {
    background: $white;
}

.background-color-darkgray {
    background: $dark-gray;
}

.background-color-mediumgray {
    background: $medium-gray;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.background-color-lightgray {
    background: $light-gray;
}

footer .top-bar {
    background-color: #26262a;
    /*#01001e - dark 'blue-ish' footer color*/
    .top-bar-left {
        h4 {
            color: $white;
        }
    }
    .top-bar-center {
        display: table;
        margin: 0 auto;
        .menu {
            li {
                a {
                    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    /*font-family: "proxima-nova";*/
                    text-transform: none;
                    text-decoration: none;
                    letter-spacing: 2px;
                    font-style: normal;
                    line-height: 1em;
                    color: rgba(255, 255, 255, .8);
                    transition: color 200ms ease-in-out;
                }
                a:hover {
                    color: $primary;
                    transition: color 200ms ease-in-out;
                }
            }
        }
    }
}

footer .top-bar ul {
    background-color: #26262a;
}

.image-container {
    position: relative;
    border: 1px solid #26262a;
}

.image-overlay {
    text-align: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(25, 25, 25, .5), rgba(25, 25, 25, .5));
}

.image-layer {
    text-align: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(25, 25, 25, .8), rgba(25, 25, 25, .8));
}

.project-content-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#view-resume {
    padding: 11px 33px;
    border: 2px solid rgba(255, 255, 255, .8);
    background:none;
    color: rgba(255, 255, 255, .8);
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    margin-right: 5px;
}

#view-resume-hidden{
    padding: 11px 33px;
    border: 2px solid rgba(255, 255, 255, .8);
    background:none;
    color: rgba(255, 255, 255, .8);
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    visibility: hidden;
}

#view-resume:hover{
    padding: 11px 33px;
    background:white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:black;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}
.hide-element {
    visibility: hidden;
}

body.is-reveal-open {
  overflow: visible !important;
}

.reveal-overlay {
  overflow: hidden !important;
}

.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


